[Desktop Entry]
Name=rg-Sens
Comment=A fast, customizable system monitoring dashboard for Linux
Exec=rg-sens
Icon=com.github.hilgardt_collab.rg_sens
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
Keywords=system;monitor;cpu;gpu;memory;temperature;sensors;
StartupWMClass=com.github.hilgardt_collab.rg_sens
